# HOWTO with the infos how the git was created
HOWTO.sh
# all temporary emacs and vim files
*~
# bam files
PAQR/data/bam_files
# data from PAQR test runs
PAQR/log_output.log
PAQR/HNRNPC_KD/
PAQR/data/samplewise_TIN/
PAQR/.snakemake/
PAQR/scripts/deNovo-used-sites-and-usage-inference.testVersion.py
KAPAC/doIt.sh
KAPAC/RESULTS/
KAPAC/RESULTS_FORMER.log
KAPAC/RESULTS_FORMER/
KAPAC/RESULTS_FORMER_AFTER_CLEANUP/
KAPAC/RESULTS.log
# Rhistory
*.Rhistory
KAPAC/DATA/kmer_counts_all.tsv
# exclude the gitignore as well
.gitignore
